@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
* {
  font-family: "Roboto", sans-serif;
  color: white;
  box-sizing: border-box;
}
body {
  background: #171717 !important;
}
body::-webkit-scrollbar{
  display: none;
}
.heroImage {
  filter: brightness(50%);
}
@media (max-width: 1150px) {
  .mainCard {
    flex-direction: column !important;
    gap: 40px !important;
  }
  .mainCard img {
    width: 100% !important;
  }
}
@media (max-width: 1000px) {
.nav{
  display: none !important;
}
.falseNav{
  display: flex !important;
}
}
